
/* style for second page */




/* welcome text */

.textGroup{
    position: absolute;
    top: 30vh;
    left: 3vw;
    color: white;
    display: flex;
    flex-direction: column;
    width: 30vw;
    text-align: left;
  
  }
  
  .textGroup-title{
    font-size: 2.8rem;
    font-weight: bold;
  }
  
  .textGroup > span:nth-child(2){
    margin-top: 2vh;
    font-size: 1.3rem;
  
  }
  .textGroup > button{
    background-color: #f29b30b6;
    color: white;
    box-shadow: 0px 5px 11px #585656;
    width: 9vw;
    height: 6vh;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    margin-top: 4vh;
    cursor: pointer;
  }
  




.sites-content{
  
    position: absolute;
    width: 100vw;
    height: 150vh;
    background-color: #fffbf8;
  }
  
  .sitesHeader{
    position: relative;
    top: 0vh;
    display: flex;
    flex-direction: column;
  }
  .secGroup{
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
  
  .sitesHeader > h3{
    /* position: absolute; */
    font-size: 2rem;
    font-weight: bold;
    margin-right: 75vw;
  }
  
  .secGroup > span {
    position: absolute;
    width: 50vw;
    text-align: left;
    left: 4vw;
    font-size: 1.3rem;
    font-bold: bold;
  }
  
  .secGroup > button {
    position: absolute;
    right: 20vw;
    background-color: #f29b30e1;
    color: white;
    box-shadow: 0px 5px 11px #8b8a8a;
    width: 9vw;
    height: 6vh;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.1rem;
  
    cursor: pointer;
  }
  
  .blocs{
    display: flex;
    position: absolute;
    top: 35vh;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    background-color: rgba(56, 132, 61, 0.052);
    justify-items: center;
    justify-items: center;
    align-items: center;
  }
  .nosites{
    display: flex;
    flex-direction: column;
  }
  .nosites > h3{
    font-size: 2rem;
    font-weight: 600;
  }
  
  .nosites > hr{
    position: absolute;
    width: 7vw;
    border: 0.06rem solid #f29b30;
    top: 10vh;
  }
  
  .blocs-content{
  
    display: flex;
    flex-direction: row;
  }
  .blocs-content > img {
  
    width: 20vw;
    margin-left: 3vw;
    border-radius: 0.3rem;
    /* border: 0.2rem solid #ffc06e; */
    box-shadow: -5px 7px 37px -5px rgba(123,112,112,0.56);
    -webkit-box-shadow: -5px 7px 37px -5px rgba(123,112,112,0.56);
    -moz-box-shadow: -5px 7px 37px -5px rgba(123,112,112,0.56);
  cursor: pointer;
  transition: all 0.3s;
  filter: blur(0.5px);

  
  }

  .blocs-content>img:hover{

    filter: blur(0px);

  }
  
  
  /* footer styling starting here */
  
  .footer{
    bottom: 0vh;
  }
  
  .BlueBloc{
    position: absolute;
    top:57vh;
    background-color: #2e6fa1;
    width: 100vw;
    height: 30vh;
  }
  
  .BlueBloc > h3{
    
    font-size: 2rem;
    font-weight: 600;
    color: white;
  }
  
  .sponsors > img {
  
    width: 6.1vw;
    margin-left: 5vw;
    box-shadow: 10px 10px 35px -9px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 10px 35px -9px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 35px -9px rgba(0,0,0,0.39);
    border-radius: 0.4rem;
    transition: all 0.3s;
    cursor: pointer;
  }
  .sponsors > img:hover{
  
    box-shadow: 10px 10px 35px -9px rgba(243, 114, 50, 0.39);
    -webkit-box-shadow: 10px 10px 35px -9px rgba(225, 111, 45, 0.39);
    -moz-box-shadow: 10px 10px 35px -9px rgba(244, 111, 34, 0.39);
  
  }
  
  .GreyBloc{
    position: absolute;
    top:87vh;
  
    background-color: #d8d8d88f;
    width: 100vw;
    height: 30vh;
  }
  
  .GreyBloc > div:nth-child(1) > ul{
  
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 30vw;
  
  
  }
  
  .GreyBloc > div:nth-child(1) > ul > li{
  
    margin-left: 10vw;
    font-size: 1.6rem;
    font-weight: 600;
  
  }

  .popup-main{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.609);
    position: fixed;
    top: 0vh;
    z-index: 2;
  }
  .popup-box{

      width: 80vw;
      height: 85vh;
      z-index: 1;
      position: absolute;
      left: 10vw;
      /* top: 8vh; */
      top: 8vh; /*Put it on the very top*/
      transition: all .5s ease-in-out; /*make it smooth*/
      border-radius: 0.4rem;
      box-shadow: -2px 11px 20px -5px rgba(0,0,0,0.41);
-webkit-box-shadow: -2px 11px 20px -5px rgba(0,0,0,0.41);
-moz-box-shadow: -2px 11px 20px -5px rgba(0,0,0,0.41);
      background-color: #f0faf1;
      animation:fall-in 0.4s ease-in-out;
      
  }

  @keyframes fall-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }



  .main-content{
    background-color: #14121bec;
    border-radius: 0.4rem;
    width: 76vw;
    height: 72vh;
    margin-left: 2.3vw;
    margin-top:10vh;
    position: relative;
    box-shadow: -2px 1px 19px 2px rgba(0,0,0,0.69);
-webkit-box-shadow: -2px 1px 19px 2px rgba(0,0,0,0.69);
-moz-box-shadow: -2px 1px 19px 2px rgba(0,0,0,0.69);
    
    
  }

  .main-content > h3{
    font-size: 1.7rem;
    font-weight: 600;
    top: -4vh;
    position: absolute;
    left: 28vw;
    color: white;
    
  }

  .popup-blocs-content {
    display: flex;
    flex-direction: row;
  }

  .popup-blocs-content > iframe{
    margin-top: 12vh;
    width: 32vw;
    height: 50vh;
    margin-left: 3.9vw;
    border-radius: 0.3rem;
    transition: all 0.3s;
    /* filter: blur(0.5px); */
    box-shadow: -4px 5px 20px 3px rgba(0,0,0,0.44);
    -webkit-box-shadow: -4px 5px 20px 3px rgba(0,0,0,0.44);
    -moz-box-shadow: -4px 5px 20px 3px rgba(0,0,0,0.44);
  }
  
  .btn-plus{
    background-color: #f29735;
    color: white;
    box-shadow: 0px 5px 11px #f29735a3;
    width: 18vw;
    height: 6vh;
    right: 15vw;
    margin-top: 3vh;
    border: none;
    border-radius: 0.38rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    z-index: 2;
  }

  /* .popup-blocs-content > iframe{

    width: 20vw;
    height: 20vh;
    margin-left: 3vw;
    border-radius: 0.3rem;
    box-shadow: -5px 7px 37px -5px rgba(123,112,112,0.56);
    -webkit-box-shadow: -5px 7px 37px -5px rgba(123,112,112,0.56);
    -moz-box-shadow: -5px 7px 37px -5px rgba(123,112,112,0.56);
    cursor: pointer;
    transition: all 0.3s;
    filter: blur(0.5px);


  } */


  .popup-btn{
    background-color: #54596ad2;
    color: white;
    box-shadow: 0px 5px 11px #525550;
    width: 9vw;
    height: 6vh;
    position: fixed;
    right: 15vw;
    top: 9.5vh;
    border: none;
    border-radius: 0.38rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    z-index: 2;
  
  }
  