.main{
    width: 100vw;
    height: 100vh;
    /* background-color: #f0793939; */
    border-radius: 10px;
}


h3{
    font-size: 2em;
    color: #222627;
    left: 50vw;
    font-weight: 700;
}

.cadre{
    position: relative;
    top: 15vh;
    width: 100vw;
    height: 85vh;
    background-color: rgb(255, 255, 255);
   
}

.boxes{
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxes > div{
    
    margin-right: 5vw;

}

.boxes-img{

    width: 22vw;
    height: 31vh;
    margin-left: 3vw;
    border-radius: 0.3rem;
    /* border: 0.2rem solid #ffc06e; */
    box-shadow: 1px 10px 21px 3px rgba(140,138,138,0.75);
    -webkit-box-shadow: 1px 10px 21px 3px rgba(140,138,138,0.75);
    -moz-box-shadow: 1px 10px 21px 3px rgba(140,138,138,0.75);
  margin-bottom: 5vh;


}


.img__wrap {
    height: 29vh;
    width: 20.4vw;
    position: relative;
    margin-bottom: 5vh;

  }

  .img__description_layer {
    position: absolute;
    width: 22vw;
    top: 0;
    bottom: 0;
    left: 3vw;
    height: 31vh;
    border-radius: 0.3rem;
    right: 0;
    background: rgba(15, 15, 18, 0.35);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
    cursor: pointer;

  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }

