.main{
    width: 100vw;
    height: 100vh;
    /* background-color: #f0793939; */
    border-radius: 10px;
}


h3{
    font-size: 2em;
    color: #222627;
    left: 50vw;
    font-weight: 700;
}

.cadre{
    position: relative;
    top: 15vh;
    width: 100vw;
    height: 85vh;
    background-color: rgb(255, 255, 255);
   
}

.boxes{
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxes>img{

    width: 22vw;
    height: 31vh;
    margin-left: 3vw;
    border-radius: 0.3rem;
    /* border: 0.2rem solid #ffc06e; */
    box-shadow: 1px 10px 21px 3px rgba(140,138,138,0.75);
    -webkit-box-shadow: 1px 10px 21px 3px rgba(140,138,138,0.75);
    -moz-box-shadow: 1px 10px 21px 3px rgba(140,138,138,0.75);
  margin-bottom: 5vh;

}